NMC_AUTH_MODE={{ nmc_auth_mode }}
NMC_AUTH_TOKEN={{ nmc_auth_token }}
NMC_CENTRAL_AUTH_SESSION_URL={{ nmc_central_auth_session_url }}
NMC_CENTRAL_AUTH_LOGIN_URL={{ nmc_central_auth_login_url }}
NMC_CENTRAL_AUTH_CACHE_TTL_MS={{ nmc_central_auth_cache_ttl_ms }}
NMC_CENTRAL_AUTH_TIMEOUT_MS={{ nmc_central_auth_timeout_ms }}
NMC_CENTRAL_AUTH_TLS_VERIFY={{ 'true' if nmc_central_auth_tls_verify else 'false' }}
NMC_OSHIFT_API_URL={{ nmc_oshift_api_url }}
NMC_DOCS_ENABLED={{ 'true' if nmc_docs_enabled else 'false' }}
NMC_MAX_BODY_BYTES={{ nmc_max_body_bytes }}
NMC_LOG_BODY_BYTES={{ nmc_log_body_bytes }}
NMC_OIDC_INTROSPECTION_URL={{ nmc_oidc_introspection_url }}
NMC_OIDC_CLIENT_ID={{ nmc_oidc_client_id }}
NMC_OIDC_CLIENT_SECRET={{ nmc_oidc_client_secret }}
NMC_OIDC_ISSUER={{ nmc_oidc_issuer }}
NMC_OIDC_AUDIENCE={{ nmc_oidc_audience }}
NMC_OIDC_ALLOWED_AUDIENCES={{ nmc_oidc_allowed_audiences }}
NMC_OIDC_REQUIRED_SCOPE={{ nmc_oidc_required_scope }}
NMC_GAIL_BASE_URL={{ nmc_gail_base_url }}
NMC_GAIL_API_TOKEN={{ nmc_gail_api_token }}
NMC_TRACEY_CVE_ROOT={{ nmc_tracey_cve_root }}
NMC_TRACEY_STATE_ROOT={{ nmc_tracey_state_root | default('/var/lib/nmc/tracey-state') }}
NMC_TRACEY_PERSIST_FLUSH_MS={{ nmc_tracey_persist_flush_ms | default('60000') }}
NMC_TRACEY_HISTORY_MAX_SAMPLES={{ nmc_tracey_history_max_samples | default('240') }}
NMC_TRACEY_AGENT_LOG_MAX_ENTRIES={{ nmc_tracey_agent_log_max_entries | default('100') }}
NMC_TRACEY_POSTGRES_DSN={{ nmc_tracey_postgres_dsn | default('') }}
NMC_POSTGRES_DSN={{ nmc_postgres_dsn | default('') }}
NMC_TRACEY_DISCOVERY_PORT={{ nmc_tracey_discovery_port | default('47991') }}
NMC_TRACEY_STATUS_BEARER_TOKEN={{ nmc_tracey_status_bearer_token | default('') }}
NMC_TRACEY_BOOTSTRAP_LOCAL_AGENT={{ 'true' if nmc_tracey_sidecar_enabled else 'false' }}
NMC_TRACEY_LOCAL_AGENT_ID={{ nmc_tracey_agent_id }}
NMC_TRACEY_LOCAL_STATUS_ADDR={{ nmc_tracey_local_status_addr }}
