NMC_AUTH_MODE={{ nmc_auth_mode }}
NMC_AUTH_TOKEN={{ nmc_auth_token }}
NMC_OSHIFT_API_URL={{ nmc_oshift_api_url }}
NMC_DOCS_ENABLED={{ 'true' if nmc_docs_enabled else 'false' }}
NMC_MAX_BODY_BYTES={{ nmc_max_body_bytes }}
NMC_LOG_BODY_BYTES={{ nmc_log_body_bytes }}
NMC_OIDC_INTROSPECTION_URL={{ nmc_oidc_introspection_url }}
NMC_OIDC_CLIENT_ID={{ nmc_oidc_client_id }}
NMC_OIDC_CLIENT_SECRET={{ nmc_oidc_client_secret }}
NMC_OIDC_ISSUER={{ nmc_oidc_issuer }}
NMC_OIDC_AUDIENCE={{ nmc_oidc_audience }}
NMC_OIDC_ALLOWED_AUDIENCES={{ nmc_oidc_allowed_audiences }}
NMC_OIDC_REQUIRED_SCOPE={{ nmc_oidc_required_scope }}
NMC_TRACEY_BOOTSTRAP_LOCAL_AGENT={{ 'true' if nmc_tracey_sidecar_enabled else 'false' }}
NMC_TRACEY_LOCAL_AGENT_ID={{ nmc_tracey_agent_id }}
NMC_TRACEY_LOCAL_STATUS_ADDR={{ nmc_tracey_local_status_addr }}
